body{
    background-color: #9C192C;
    overflow-y: hidden;
}
.upper-div{
    display: flex;
    align-items: center;
    margin-top: 9rem ;
    flex-direction: column;
}
.upper-div h1{
    color: aliceblue;
    font-family: 'Alegreya', serif;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}
.upper-div h5{
    color: aliceblue;
    /* max-width: 30%; */
    text-align: center;
    padding-top: 1.5rem;
}
.logo{
    color: #FED283;
}
.navbar-nav .nav-item .nav-link {
    color: aliceblue;
    transition: all 0.5s;
    padding-right: 30px;
    padding-left: 30px;
}
.logo-title{
    color: aliceblue !important;
    padding-left: 5rem;
    padding-right: 17rem;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #FED283;
}
.login-signup{
    margin-left: 6.5rem;
}
.btn-outline-primary{
    background-color: #FED283;
    color: black !important;
    border: solid 1px black !important;
    border-radius: 5rem;
    transition: all 0.5s;
}
.btn-outline-primary:hover{
    background-color: #fdc866;
}
.half-circle{
    height: 35rem;
    width: 50rem;
    background-color: aliceblue;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 50%;
}
.animated{
    margin-left: 200px;
    width: 40%;
}
/* animations */
/*sign up button animation*/
.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}

 @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  /* end of sign up button animation */

  /* sub heading animation */
  .typewriter h5 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  /* end of subheading animation */
  